
body 
{
	background-color: rgb(200,200,220);
}
.div2
{
	width:1100px;
	height:70px; 
	border:1px;
}
.div3
{
	width:1100px;
	height:55px;
	background-color:black;
}
.div4
{
	width:1100px;
	height:150px;
	background-color:gray;
}
.searchText
{
	width: 180px; 
	height:20px; 
	margin-left: 10em;
}
.searchBut
{
	width: 60px; 
	height:28px; 
	margin-left: -0.3em;
}
.alink
{
	margin-left: 2em;
}
#hlink
{
	font-weight:bold; 
	font-size:20px;
}
#imlink
{
	width:180px;
	height:120px;
}
#nalink
{
	margin-left: 0em;
	color: rgb(100,150,550);
	font-weight:bold; 
	font-size:30px;
}
#lolink
{
	color: rgb(100,280,550);
	margin-left: 12em;
	font-weight:bold; 
	font-size:25px;
}
.alink:link 
{
	color: rgb(200,200,220);
	background-color: transparent;
	text-decoration: none;
}
.alink:visited 
{
	color: rgb(200,200,220);
	background-color: transparent;
	text-decoration: none;
}
.alink:hover 
{
	color: rgb(100,280,550);
	background-color: transparent;
	text-decoration: underline;
}
#nalink:hover 
{
	color: rgb(100,150,550);
	background-color: transparent;
	text-decoration: none;
}

.loginlabel
{
    margin-left: 2em;
	color:aqua;
}
.div6
{
	width:400px;
	height:320px;
	border:1px;
	background-color: rgb(100,130,150);
}
.div7
{
	margin-left: 2em;
}
.llabel
{
	font-weight:bold;
}
.ltext
{
	width:200px;
	height:25px;
}
#fplink
{
	margin-left: 0em;
	color: rgb(100,280,550);
} 
.signBut
{
	color:blue; 
	height:30px; 
	font-weight:bold;
}

#adminHomeLogo
{
    margin-left: 2em;
    font-size: 20px;
    font-weight: bold;
    color: azure;
}

.adlink:link
{
    color:#2876d1;
    font-size: 20px;
    margin-left: 1em;
    background-color: transparent;
	text-decoration: none;
}
.adlink:visited 
{
	color: #2876d1;
	background-color: transparent;
	text-decoration: none;
}
.adlink:hover 
{
	color: blue;
	background-color: transparent;
	text-decoration: underline;
}


