
body
{
	background-color: rgb(200,200,220);
	
}

.fieldset1
{
    width:500px;
	height:740px;
    border: solid 1px rgb(163, 205, 234);
    background-color:rgb(141, 184, 212);
}
.fieldset2
{
    width:500px;
	height:380px;
    border: solid 1px rgb(163, 205, 234);
    background-color:rgb(141, 184, 212);
}
.rflegend
{
    font-weight:bold;
    font-size:25px;
    color:#151df8;
}
.gurdianCol
{
    vertical-align: top;
}
.p1label
{
	margin-left: 2em;
    font-weight:bold;
	
}
.p1text
{
    margin-left: 2em;
    width:250px; 
    height:25px;
}
#addressArea
{
    width: 250px;
    height: 75px;
}
.fsubmit
{
    color:#ff003b;
    height:40px; 
    width: 200px;
    font-size:20px;
    font-weight:bold;
}