.body-Property
{

background-color: #cccccc;
}
.fieldsetClassSchedule
{

  font-color:white;
  font-size:15px;
  padding:5px;
  height:300px;
  line-height:1.8;
}
.registrationField
{
height:150px;
}
.tableFullPage
{
	width: 100%;
	height: 100%; 
	border: 1px solid black;
	border-collapse: collapse;
}
.tableUnderFieldset
{
	width: 100%;
	height: 100%; 
	border: 1px solid black;
	border-collapse: collapse;
}
.legendClassSchedule
{ 
font-family: "Times New Roman";
font-size: 20px;
}
.thirdColoumn
{
	width:250px;
	vertical-align:top;
	text-align:center;
}
.fisrtColoumn
{	
	width:250px;
	vertical-align:top;
	text-align:center;
}
.secondColoumn
{
	vertical-align:top;
	text-align:center;
}
.DayColoum
{
	width:300px;
	vertical-align:top;
	text-align:center;
}